        <div class="pure-g photos4">
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/46.jpg" alt="Are we having a good time yet?">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/13.jpg" alt="Is that a tree?">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/48.jpg" alt="Hmmm...nice!">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/5.jpg" alt="Alina catches things!">
            </div>
        </div>

