        <div class="pure-g photos4">
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/5.jpg" alt="Alina catches things!">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/13.jpg" alt="Is that a tree?">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/4.jpg" alt="Hmmm...nice!">
            </div>
            <div class="pure-u-1-4">
                <img class="pure-img-responsive" src="/img/10.jpg" alt="How about that calf?">
            </div>
        </div>

