    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/">DAN & ALINA</a>

            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {{! class="menu-item-divided pure-menu-selected"}}
                <li>
                    <a href="/directions">Directions</a>
                </li>
                <li>
                    <a href="/accomodation">Accomodation</a>
                </li>
                <li><a href="/registry">Registry</a></li>
                <li><a href="/rsvp">RSVP</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
