<div class="header">
        {{> 4photos}}
        <h1>Contact</h1>
    </div>

        <div class="content">
 
<form class="pure-form pure-form-stacked">
    <fieldset>
        
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Name" required>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" required>

        <label for="message">Message</label>
        <textarea class="message" id="message" type="text" placeholder="Type your message here..." required></textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-button-primary button-submit">Send Message</button>

</form>        
        </div>
    </div>

