<div class="header">
        {{> 4photos}}
        <h1>Directions</h1>
    </div>
     

        <div class="content">

            <h2 class="content-subhead">Ceremony Location</h2>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5793.375989069588!2d-80.47539136441758!3d43.4462318915621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf4c1886b1311%3A0x11808d7fd8fa8537!2sStirling+Ave+Mennonite+Church!5e0!3m2!1sen!2s!4v1412621993930" width="400" height="300" frameborder="0" style="border:0"></iframe>                
                </div>
    
            <h2 class="content-subhead">Reception Location</h2>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.7135605907315!2d-80.49911099999994!3d43.445698000000036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf4f7d04a9b21%3A0x500f9fe2186ff5ed!2sVictoria+Park+Pavillion!5e0!3m2!1sen!2s!4v1412622320487" width="400" height="300" frameborder="0" style="border:0"></iframe>                
                </div>
    

    
        </div>

    </div>

