    <div class="header">
        {{> 4photoshome}}
        <h1>DAN & ALINA</h1>
        <h2>April 12, 2015</h2>
    </div>


        <div class="content">
            <h2 class="content-subhead">Woah, what are you doing here?</h2>
            <p>
            You've found your way to our wedding website a little bit too soon!  Here you'll eventually find information about the wedding, and also maybe some hidden secrets.  Try checking out the links on the left and seeing what you can find.   We're really not ready yet for you so you probably won't find much yet...   
                    {{imgnumbers}}
            </p>
            <p>
            You're probably here to find out some information about the wedding, so to tide you over until things are all setup, here's the important facts. 
            </p>



            <h2 class="content-subhead">Ceremony Details</h2>

            <p>
            Location: <strong><a href="https://www.google.ca/maps/place/Stirling+Ave+Mennonite+Church/">Stirling Ave Mennonite Church, Kitchener ON</a></strong>
            </p>

            <p>
            Date and Time: <strong><a href="/files/DanAlinaWedding.ics">Sunday April 12, 2015, 2:30pm</a></strong>
            </p>

            <h2 class="content-subhead">Reception Details</h2>
            <p>
            Location: <strong><a href="https://www.google.ca/maps/place/Victoria+Park+Pavillion/">Victoria Park Pavilion, Kitchener ON</a></strong>
            </p>

            <p>
            Date and Time: <strong><a href="/files/DanAlinaWedding.ics">Sunday April 12, 2015, 5:30pm</a></strong>
            </p>

        </div>
    </div>

