    <div class="header">
        {{> 4photoshome}}
        <h1>DAN & ALINA</h1>
        <h2>April 12, 2015</h2>
    </div>


        <div class="content">
            <h2 class="content-subhead">Welcome to our wedding website!</h2>
            <p>
            We are so excited to be getting married and we are happy to include our friends and families in the festivities. Continue to check in here for updates about the events of the day as we figure things out!  Try checking out the links on the left and seeing what you can find.
            </p>

            <p>
            Cheers, <br/>
            Alina and Dan
            </p>



            <h2 class="content-subhead">Ceremony Details</h2>

            <p>
            Location: <strong><a href="https://www.google.ca/maps/place/Stirling+Ave+Mennonite+Church/">Stirling Ave Mennonite Church, Kitchener ON</a></strong>
            </p>

            <p>
            Date and Time: <strong><a href="/files/DanAlinaWedding.ics">Sunday April 12, 2015, 2:30pm</a></strong>
            </p>

            <h2 class="content-subhead">Reception Details</h2>
            <p>
            Location: <strong><a href="https://www.google.ca/maps/place/Victoria+Park+Pavillion/">Victoria Park Pavilion, Kitchener ON</a></strong>
            </p>

            <p>
            Date and Time: <strong><a href="/files/DanAlinaWedding.ics">Sunday April 12, 2015, 5:30pm</a></strong>
            </p>
            
        </div>
    </div>

