<div class="header">
        {{> 4photos}}
        <h1>Registry</h1>
    </div>



        <div class="content">
            <p>
            If you wish to contribute gifts to aid us in beginning our home together, please use these sites for suggestions of things that we would find useful. Your presence is a gift big enough for us though, so don't feel obliged to purchase us anything. <br/>
(But Alina loves cards, so bring a card!)
            </p>

            <h2 class="content-subhead">Household Gifts and China</h2>
            <p>
                Some information here and a link to the place to go...
            </p>

            <h2 class="content-subhead">HBC</h2>
            <p>
                Some information here and a link the place to look for things...
            </p>

        </div>
    </div>

