<div class="header">
        {{> 4photos}}
        <h1>Saskatchewan Celebration</h1>
    </div>
     

        <div class="content">


            <p>
            For those who are unable to travel to Ontario for the wedding day, or those who just want to celebrate with us again, we're having a second celebration on August 19 in Saskatoon (this also happens to be Dan's birthday). We'd be very pleased if you were able to join us for a drop-in reception! 
            </p>
            <p>
            Here are the details:
            </p>

            <p>
            Location: <strong><a href="https://www.google.com/maps/place/258+Avenue+B+S,+Saskatoon,+SK+S7M+1M3,+Canada">Little Bird Cafe, Saskatoon SK</a></strong>
            </p>

            <p>
            Date and Time: <strong><a href="/files/SaskatchewanCelebration.ics">Wednesday August 19, 2015, 7pm-10pm</a></strong>
            </p>

            <h2 class="content-subhead">RSVP</h2>

            <p>
            If you're planning to attend this celebration, please email <a href="mailto:balzer.g@gmail.com">balzer.g@gmail.com</a> to RSVP. 
            </p>

    </div>

    </div>

