/* Application CSS */
/* You can probably delete all this once you're ready to make changes. */
body {
    background: white;
}

a, a:hover, a:visited, a:focus {
    color: #762fb1;
    text-decoration: none;
}


h1 small {
    color: #999;
    font-weight: normal;
}

h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 48pt;
}

.btn, a.btn {
    background: transparent;
    border: 2px solid rgb(174, 216, 255);
    border-radius: 20px;
    color: #531480;

}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-submit {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-submit {
    background: #2fb176;
}

textarea.message {
    width:100%;
    height:150px;
}

